SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=sqlite:///./app.sqlite3

ALLOWED_DEV_LOGIN=true
DEV_ADMIN_USERNAME=ric_admin
DEV_ADMIN_PASSWORD=RicDev123!

USE_WEASYPRINT=false
